

h1 {
    font-weight: 700;
    font-size: calc(15pt + 3vh);
    text-transform: uppercase;
}

h2{
    font-weight: 600;
    font-size: calc(8pt + 2vh);
}

h3, p {
    font-weight: 400;
    font-size: calc(7pt + 0.5vh);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:15px;
}

}

.centerText {
text-align: center;
}

h1,h2,h3,h4, p {
    font-family: 'Vollkorn', serif; 
    color:#8B888C;
}


.space-large{
	margin-top: 100px;
}

